.aa{
  text-transform: 2px 2px 2px solid green;
  text-shadow: 5px 5px 5px solid yellowgreen;
  text-decoration: 5px 5px 5px solid yellowgreen;
  /* font-style: italic; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: 'Segoe UI';
  color: red;
  font-size: 50px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);

}
.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 12s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ///////////////////////////// */



.App-logo-sohan {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-sohan {
    animation: App-logo-spin2 infinite 10s linear;
  }
}

@keyframes App-logo-spin2 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}